<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Responsive Dashboard Design #2 | AsmrProg</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>Asmr</span>Prog</div>
        </a>
        <ul class="side-menu">
            <li><a href="{{ url_for('dashboard') }}"><i class='bx bx-bar-chart'></i>Tableau de Bord</a></li>
            <li><a href="{{ url_for('map') }}"><i class='bx bx-map'></i>Carte Interactive</a></li>
            <li class="active"><a href="{{ url_for('cctv') }}"><i class='bx bx-video'></i>Vidéos en Direct</a></li>
            <li><a href="{{ url_for('rapport') }}"><i class='bx bx-list-ul'></i>Rapports</a></li>
            <li><a href="{{ url_for('setting') }}"><i class='bx bx-cog'></i>Setting</a></li>
            <li><a href="{{ url_for('analytic') }}"><i class='bx bx-analyse'></i>Analytics</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{url_for('logout')}}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="images/logo.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Vidéos en Direct</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">Tableau de Bord</a></li>
                        /
                        <li><a href="#" class="active">Vidéos en Direct</a></li>
                    </ul>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download CSV</span>
                </a>
            </div>

            <!-- Main Content of CCTV Page -->
            <div class="cctv-content">
                <!-- Video Player Goes Here -->

                <!-- Boutons de détection -->
                <div class="detection-buttons">
                    <button class="action-button motion-detection">
                        <i class='bx bx-walk'></i>
                        Détection de Mouvement
                    </button>
                    <button class="action-button weapon-detection">
                        <i class='bx bx-video'></i>
                        Détection d'Arme
                    </button>
                </div>
            </div>
            <!-- End of Main Content -->

        </main>

    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
